<div class="footer">
    <div class="copyRight">تمامی اطلاعات متعلق به من میباشد</div>
    <hr />
    <div class="tagItems">
      <span class="footerTag">دانلود فیلم</span>
      <span class="footerTag">دانلود فیلم خارجی</span>
      <span class="footerTag">دانلود فیلم ایرانی</span>
      <span class="footerTag">دانلود فیلم جدید</span>
      <span class="footerTag">دانلود سریال</span>
      <span class="footerTag">دانلود انیمیشن</span>
      <span class="footerTag">آپلود عکس</span>
      <span class="footerTag">دانلود سریال پوست شیر</span>
      <span class="footerTag">سریال ترکی</span>
      <span class="footerTag">دانلود سریال خون سرد</span>
      <span class="footerTag">دانلود سریال شبکه مخفی زنان</span>
      <span class="footerTag">ارتباط با ما</span>
    </div>
  </div>