{% load static %}
<div class="header">
    <div class="navbar">
      <div class="leftNav">
        <div class="logo">
          <img src="{%static "assets/img/logo.jpg" %}" alt="logo" />
          <a href="{% url 'home' %}" style="color:white; text-decoration: none;">ساقی فیلم</a>
        </div>
        <div class="menu">
          <ul class="mainMenu">
            <li class="menuItems">
              <div class="menuTitle">
                <span>فیلم دوبله</span>
                <img src="{%static "assets/openMenu.png" %}" alt="openMenu" />
              </div>
              <ul>
                <li>اکشن</li>
                <li>بیوگرافی</li>
                <li>تاریخی</li>
                <li>ترسناک</li>
                <li>جنایی</li>
                <li>جنگی</li>
                <li>خانوداگی</li>
                <li>درام</li>
                <li>رازآلود</li>
                <li>رزمی</li>
                <li>فانتزی</li>
                <li>کلاسیک</li>
                <li>کمدی</li>
                <li>ماجرایی</li>
                <li>موزیکال</li>
                <li>هندی</li>
              </ul>
            </li>
            <li class="menuItems">
              <div class="menuTitle">فیلم خارجی</div>
            </li>
            <li class="menuItems">
              <div class="menuTitle">فیلم ایرانی</div>
            </li>
            <li class="menuItems">
              <div class="menuTitle">
                <span>انیمیشن</span>
                <img src="{%static "assets/openMenu.png" %}" alt="openMenu" />
              </div>
              <ul>
                <li>انیمیشن دوبله فارسی</li>
                <li>زبان اصلی</li>
                <li>انیمیشن سریالی</li>
                <li>قدیمی دوبله</li>
              </ul>
            </li>
            <li class="menuItems">
              <div class="menuTitle">
                <span>سریال</span>
                <img src="{%static "assets/openMenu.png" %}" alt="openMenu" />
              </div>
              <ul>
                <li>سریال ایرانی</li>
                <li>سریال ترکی</li>
                <li>سریال خارجی</li>
                <li>سریال دوبله</li>
              </ul>
            </li>
            <li class="menuItems">
              <div class="menuTitle">
                <span>مستند</span>
                <img src="{%static "assets/openMenu.png" %}" alt="openMenu" />
              </div>
              <ul>
                <li>مستند دوبله فارسی</li>
                <li>زبان اصلی</li>
                <li>ورزشی</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="rightNav">
        <div class="search">
          <input type="text" placeholder="جست و جو..." />
          <button>
            <img src="{%static "assets/search.png" %}" alt="" />
          </button>
        </div>
        <div class="user">
          <a href="{% url 'login' %}">ورود</a>
          /
          <a href="{% url 'signup' %}">ثبت نام</a>
        </div>
      </div>
    </div>
  </div>