{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static "style/main.css" %}"/>
    <link rel="stylesheet" href="{%static "style/slide.css" %}" />
    <title>ساقی فیلم</title>
  </head>
  <body>
    {% include 'header.html' %}
    <div class="container">
      <div class="SlideContainer">
        <div class="item">
          <div class="quote">
            <p>I am Groot.<span>Groot</span></p>
          </div>
        </div>
        <div class="">
          <div class="quote">
            <p>
              You'r the head of security and your password is
              'password'&nbsp;?<span>Peter Parker</span>
            </p>
          </div>
        </div>
        <div class="item">
          <div class="quote">
            <p>That really is America's ass.<span>Captain America</span></p>
          </div>
        </div>
        <div class="item">
          <div class="quote">
            <p>
              The hardest choices require the strongest wills.<span
                >Thanos</span
              >
            </p>
          </div>
        </div>
        <div class="item">
          <div class="quote">
            <p>
              Genius, billionaire, playboy, philanthropist.<span
                >Tony Stark</span
              >
            </p>
          </div>
        </div>
        <div class="item">
          <div class="quote">
            <p>
              We never lose our demons. We only learn to live above them.<span
                >Ancient One</span
              >
            </p>
          </div>
        </div>
      </div>
      {% include 'filter.html' %}
      <hr />
      <div class="trendContainer">
        <div class="trendTitle">
          <h3>فیلم های ترند</h3>
        </div>
        <div class="trendItems">
          <div class="trendItem">
            <div class="trendImg">
              <img src="{% static "assets/img/1.webp" %}" alt="1" />
            </div>
            <div class="trendItemTitle">
              <span>کیسی کا بای کیسی کی جان</span>
            </div>
          </div>
          <div class="trendItem">
            <div class="trendImg">
              <img src="{% static "assets/img/2.webp" %}" alt="1" />
            </div>
            <div class="trendItemTitle">
              <span>پیمان</span>
            </div>
          </div>
          <div class="trendItem">
            <div class="trendImg">
              <img src="{% static "assets/img/3.webp" %}" alt="1" />
            </div>
            <div class="trendItemTitle">
              <span>قندهار</span>
            </div>
          </div>
          <div class="trendItem">
            <div class="trendImg">
              <img src="{% static "assets/img/4.webp" %}" alt="1" />
            </div>
            <div class="trendItemTitle">
              <span>مادر مافیا</span>
            </div>
          </div>
          <div class="trendItem">
            <div class="trendImg">
              <img src="{% static "assets/img/5.webp" %}" alt="1" />
            </div>
            <div class="trendItemTitle">
              <span>سوار شو</span>
            </div>
          </div>
          <div class="trendItem">
            <div class="trendImg">
              <img src="{% static "assets/img/6.webp" %}" alt="1" />
            </div>
            <div class="trendItemTitle">
              <span>مرد عنگبوتی - آنسوی دنیای عنکبوتی</span>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="main">
        {% include "content.html" %}
        <div class="sideBar">
          <div class="sugestion">
            <div class="sugestionItem">
              <img src="{% static 'assets/img/s1.jpg' %}" alt="" />
              <span>Shingeki no Kyojin</span>
            </div>
            <div class="sugestionItem">
              <img src="{% static 'assets/img/s2.webp' %}" alt="" />
              <span>chainsaw man</span>
            </div>
            <div class="sugestionItem">
              <img src="{% static 'assets/img/s3.jpg' %}" alt="" />
              <span>chapelwait</span>
            </div>
            <div class="sugestionItem">
              <img src="{% static 'assets/img/s4.jpg' %}" alt="" />
              <span>beau sejour</span>
            </div>
            <div class="sugestionItem">
              <img src="{% static 'assets/img/s5.jpg' %}" alt="" />
              <span>money heist - joint economic </span>
            </div>
            <div class="sugestionItem">
              <img src="{% static 'assets/img/s6.jpg' %}" alt="" />
              <span>nine perfect stranger</span>
            </div>
            <div class="sugestionItem">
              <img src="{% static 'assets/img/s7.jpg' %}" alt="" />
              <span>open your eyes</span>
            </div>
            <div class="sugestionItem">
              <img src="{% static 'assets/img/s8.webp' %}" alt="" />
              <span>silo</span>
            </div>
            <div class="sugestionItem">
              <img src="{% static 'assets/img/s9.jpg' %}" alt="" />
              <span>the english</span>
            </div>
            <div class="sugestionItem">
              <img src="{% static 'assets/img/s10.webp' %}" alt="" />
              <span>the last of us</span>
            </div>
            <div class="sugestionItem">
              <img src="{% static 'assets/img/s11.webp' %}" alt="" />
              <span>the walking dead - dead city</span>
            </div>
            <div class="sugestionItem">
              <img src="{% static 'assets/img/s12.jpg' %}" alt="" />
              <span>vigil</span>
            </div>
          </div>
          <div class="telegram">
            <div>
              <img src="{% static 'assets/icons8-telegram-48.png' %}" alt="" />
              <span>کانال تلگرام ما</span>
            </div>
            <img src="{% static 'assets/icons8-left-50.png' %}" alt="" class="arrowleft" />
          </div>
          <div class="instagram">
            <div>
              <img src="{% static 'assets/icons8-instagram-48.png' %}" alt="" />
              <span>صفحه اینستاگرام ما</span>
            </div>
            <img src="{% static 'assets/icons8-left-50.png' %}" alt="" class="arrowleft" />
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="copyRight">تمامی اطلاعات متعلق به من میباشد</div>
      <hr />
      <div class="tagItems">
        <span class="footerTag">دانلود فیلم</span>
        <span class="footerTag">دانلود فیلم خارجی</span>
        <span class="footerTag">دانلود فیلم ایرانی</span>
        <span class="footerTag">دانلود فیلم جدید</span>
        <span class="footerTag">دانلود سریال</span>
        <span class="footerTag">دانلود انیمیشن</span>
        <span class="footerTag">آپلود عکس</span>
        <span class="footerTag">دانلود سریال پوست شیر</span>
        <span class="footerTag">سریال ترکی</span>
        <span class="footerTag">دانلود سریال خون سرد</span>
        <span class="footerTag">دانلود سریال شبکه مخفی زنان</span>
        <span class="footerTag">ارتباط با ما</span>
      </div>
    </div>
  </body>
  <script src="{% static 'js/app.js' %}"></script>
</html>
