{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static "style/login.css" %}" />
    <title>login</title>
  </head>
  <body>
    <div class="loginContainer">
      <h3>ورود</h3>
      <form class="form" action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="ورود" onclick="login()" class="submit" />
      </form>
    </div>
  </body>
  <script src="{% static 'js/app.js' %}"></script>
</html>
