{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style/movieDetails.css' %}" />
    <link rel="stylesheet" href="{% static 'style/main.css' %}" />
    <title>movie Details</title>
  </head>
  <body>
    {% include 'header.html' %}
    <div class="container">
      <div class="movieContainer">
        <div class="backGroundFilter">
          <img src="/media/{{movie.poster}}" alt="" />
        </div>
        <div class="moviesDetails">
          <div class="movieCover">
            <img src="/media/{{movie.poster}}" alt="" />
          </div>
          <div class="movieDetails">
            <div class="titleContainer">
              <h2 class="title">{{movie.title}}</h2>
            </div>
            <div class="details">
              <span class="detailTitle">امتیاز: </span>
              <span class="detail"> 10 / {{movie.IMDB_point}} </span>
            </div>
            <div class="details">
              <span class="detailTitle">سال انتشار: </span>
              <span class="detail"> 2023 </span>
            </div>
            <div class="details">
              <span class="detailTitle">ژانر: </span>
              <span class="detail">{% for tag in movie.tag.all %}{{ tag }}، {% endfor %}</span>
            </div>
            <div class="details">
              <span class="detailTitle">کارگردان: </span>
              <span class="detail">{% for director in movie.director.all %}{{ director }}، {% endfor %}</span>
            </div>
            <div class="details">
              <span class="detailTitle">مدت زمان: </span>
              <span class="detail"> {{movie.duration}} دقیقه</span>
            </div>
            <div class="details">
              <span class="detailTitle">درباره فیلم: </span>
              <span class="detail">{{movie.description}}
              </span>
            </div>
            <div class="details">
              <span class="detailTitle">خلاصه فیلم: </span>
              <span class="detail">
                وقتی پسری هشت ساله به نام پیتر تلاش می کند تا صداهای کوبیدن
                مرموزی را که از داخل دیوارهای خانه اش می آید و راز تاریکی که
                والدین شومش از او مخفی نگه دا شته اند را بررسی کند، وحشت اتفاق
                می افتد.
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="download">
        <div class="downloadSection">
          <div class="qualityContainer">
              {% if downloads %}
                  <h3>دانلود 
                      {% for type_item in downloads.0.type.all %}
                          {{ type_item.type }}
                      {% empty %}
                          نوعی مشخص نشده است
                      {% endfor %}
                  </h3>
                  {% for download_item in downloads %}
                      <div class="qualitySection">
                          <span class="quality">کیفیت {{ download_item.quality }} : </span>
                          <span class="Size quality">{{ download_item.Volume }}</span>
                          <a href="{{ download_item.download_url }}" class="btnDownload">دانلود</a>
                      </div>
                  {% endfor %}
              {% else %}
                  <p>هیچ دانلودی برای این فیلم موجود نیست.</p>
              {% endif %}
          </div>
        </div>      
        <div class="downloadSection">
          <h3>دانلود زبان اصلی</h3>
          <div class="qualityContainer">
            <div class="qualitySection">
              <span class="quality">کیفیت 1080p : </span>
              <span class="Size quality"> 1.5GB </span>
              <a href="#" class="btnDownload">دانلود</a>
            </div>
            <div class="qualitySection">
              <span class="quality"> کیفیت 720p : </span>
              <span class="Size quality"> 812.2MB </span>
              <a href="#" class="btnDownload">دانلود</a>
            </div>
            <div class="qualitySection">
              <span class="quality">کیفیت 480p :</span>
              <span class="Size quality"> 445.3MB </span>
              <a href="#" class="btnDownload">دانلود</a>
            </div>
          </div>
        </div>
        <div class="downloadSection">
          <h3>دانلود دوبله فارسی</h3>
          <div class="qualityContainer">
            <div class="qualitySection">
              <span class="quality">کیفیت 1080p : </span>
              <span class="Size quality"> 1.5GB </span>
              <a href="#" class="btnDownload">دانلود</a>
            </div>
            <div class="qualitySection">
              <span class="quality"> کیفیت 720p : </span>
              <span class="Size quality"> 812.2MB </span>
              <a href="#" class="btnDownload">دانلود</a>
            </div>
            <div class="qualitySection">
              <span class="quality">کیفیت 480p :</span>
              <span class="Size quality"> 445.3MB </span>
              <a href="#" class="btnDownload">دانلود</a>
            </div>
          </div>
        </div>
      </div>
      <div class="trendContainer">
        <div class="trendTitle">
          <h3>فیلم های پیشنهادی</h3>
        </div>
        <div class="trendItems">
          <div class="trendItem">
            <div class="trendImg">
              <img src="{% static 'assets/img/1.webp' %}" alt="1" />
            </div>
            <div class="trendItemTitle">
              <span>کیسی کا بای کیسی کی جان</span>
            </div>
          </div>
          <div class="trendItem">
            <div class="trendImg">
              <img src="{% static 'assets/img/2.webp' %}" alt="1" />
            </div>
            <div class="trendItemTitle">
              <span>پیمان</span>
            </div>
          </div>
          <div class="trendItem">
            <div class="trendImg">
              <img src="{% static 'assets/img/3.webp' %}" alt="1" />
            </div>
            <div class="trendItemTitle">
              <span>قندهار</span>
            </div>
          </div>
          <div class="trendItem">
            <div class="trendImg">
              <img src="{% static 'assets/img/4.webp' %}" alt="1" />
            </div>
            <div class="trendItemTitle">
              <span>مادر مافیا</span>
            </div>
          </div>
          <div class="trendItem">
            <div class="trendImg">
              <img src="{% static 'assets/img/5.webp' %}" alt="1" />
            </div>
            <div class="trendItemTitle">
              <span>سوار شو</span>
            </div>
          </div>
          <div class="trendItem">
            <div class="trendImg">
              <img src="{% static 'assets/img/6.webp' %}" alt="1" />
            </div>
            <div class="trendItemTitle">
              <span>مرد عنگبوتی - آنسوی دنیای عنکبوتی</span>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="commentContainer">
        <div class="comments">
          <div class="titleComment">
            <h3>نظرات کاربران</h3>
          </div>
          <div class="commentSection">
            <span class="commentName">ممد ممدی</span>
            <p class="commnetText">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
              استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
              در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
              نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،
              کتابهای زیادی
            </p>
          </div>
          <div class="commentSection">
            <span class="commentName">ممد ممدی</span>
            <p class="commnetText">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
              استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
              در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
              نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،
              کتابهای زیادی
            </p>
          </div>
          <div class="commentSection">
            <span class="commentName">ممد ممدی</span>
            <p class="commnetText">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
              استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
              در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
              نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،
              کتابهای زیادی
            </p>
          </div>
        </div>
        <div class="sendComment">
          <div class="titleComment">
            <h3>ارسال نظر</h3>
          </div>
          <form action="" class="form">
            <input
              class="commentInput"
              type="text"
              placeholder="نام خود را وارد کنید ..."
            />
            <input
              class="commentInput"
              type="email"
              placeholder="ایمیل خود را وارد کنید ..."
            />
            <textarea
              class="commentText"
              placeholder="نظر خود را وارد کنید..."
              cols="30"
              rows="10"
            ></textarea>
            <input class="submitComment" type="submit" value="ثبت نظر" />
          </form>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="copyRight">تمامی اطلاعات متعلق به من میباشد</div>
      <hr />
      <div class="tagItems">
        <span class="footerTag">دانلود فیلم</span>
        <span class="footerTag">دانلود فیلم خارجی</span>
        <span class="footerTag">دانلود فیلم ایرانی</span>
        <span class="footerTag">دانلود فیلم جدید</span>
        <span class="footerTag">دانلود سریال</span>
        <span class="footerTag">دانلود انیمیشن</span>
        <span class="footerTag">آپلود عکس</span>
        <span class="footerTag">دانلود سریال پوست شیر</span>
        <span class="footerTag">سریال ترکی</span>
        <span class="footerTag">دانلود سریال خون سرد</span>
        <span class="footerTag">دانلود سریال شبکه مخفی زنان</span>
        <span class="footerTag">ارتباط با ما</span>
      </div>
    </div>
  </body>
</html>
